doctype html
html(lang="ru")
	head
	body
		header
			a.logo(href="#")
			ul.header-menu
				li.header-menu__item
					a Home
				li.header-menu__item
					a Shop
				li.header-menu__item
					a Women
				li.header-menu__item
					a Men
				li.header-menu__item
					a Find Stores
				li.header-menu__item
					a
				li.header-menu__item
					a
				li.header-menu__item
					a
		main
			section
				h1.hidden Summer Collection
				aside 
					ul.socials-list
						li.socials-list__item
							a
						li.socials-list__item
							a
						li.socials-list__item
							a
						li.socials-list__item
							a
						li.socials-list__item
							p follow us
				div.slider
					h2 Summer Collection
					button Prev
					button Next
					div.slider__item
						h3 01 men's wear
						div
							ul.links-list
								li.links-list__item
									a
								li.links-list__item
									a
								li.links-list__item
									a
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed fermentum nibh, vel aliquet massa. Etiam in magna id risus lacinia luctus eget eu est.
							button Shop now
						div
							img
							div
								h4 special offer of the month
								p Black long sleeve
								div
									span.old-price $105
									span.new-price
									button shop now
								div.counter
									ul.counter-list
										li.counter-list__item
											span 09
											p hours
										li.counter-list__item
											span 56
											p minutes
										li.counter-list__item
											span 11
											p seconds
			section
				ul.goods-category
					li.goods-category__item
						button All
					li.goods-category__item
						button spring-summer
					li.goods-category__item
						button sweatshirt
					li.goods-category__item
						button sneakers
					li.goods-category__item
						button gadgets
					li.goods-category__item
						button outdoor
				ul.goods-container
					li.goods-container__item
						div
							p Buy 2 get up 50% off
						div
					li.goods-container__item
						div
							p Winter Jacket
							p Vintage look for Women
							button shop now
							span NEW
					li.goods-container__item
						div
							p Winter Jacket
							p Fashion for men
							button shop now
						div
							p 40% off sunglasses
							span NEW
					li.goods-container__item
						div
							h4 we offer brand new styles
							psign up now and get 50% off
							a see full collection
			section
				h2 product types
				p up to 30% discount
				div
					button prev
					ul.product-slider
						li.product-slider__item
							div
								a shop men
						li.product-slider__item
							div
								a shop women
						li.product-slider__item
							div
								a shop kids
					button next
			section
				h2 featured products
				ul.goods-category
					li.goods-category__item
						button All
					li.goods-category__item
						button spring-summer
					li.goods-category__item
						button sweatshirt
					li.goods-category__item
						button sneakers
					li.goods-category__item
						button gadgets
					li.goods-category__item
						button outdoor
				button prev
				ul.featured-product-slider
					li.featured-product-slider__item
						img
						p Ted Baker Womens Light
						p Gucci
						span.old-price $70.00
						span.new-prise $120.00
					li.featured-product-slider__item
						img
						p Ted Baker Womens Light
						p Gucci
						span.old-price $70.00
						span.new-prise $120.00
					li.featured-product-slider__item
						img
						p Ted Baker Womens Light
						p Gucci
						span.old-price $70.00
						span.new-prise $120.00
				button next
				a show more
				div.subscribe-banner
					h4 subscribe to our newsletter
					p sign up now and get 75% off
					button show up now
			section
				h2 our blogs &news
				button prev
				ul.news-slider
					li.news-slider__item
						img
						a
							p the 15 secretsabout fasshion people
							p january 12, 2020 by admin
					li.news-slider__item
						img
						a
							p the 15 secretsabout fasshion people
							p january 12, 2020 by admin
					li.news-slider__item
						img
						a
							p the 15 secretsabout fasshion people
							p january 12, 2020 by admin
				button next
			footer
				ul.footer-list
					li.footer-list__item
						h4 Information
						a The brand
						a Local stores
						a Customer service
						a Privacy & cookies
						a Site map
					li.footer-list__item
						h4 My profile
						a Getting Started
						a FAQs
						a Buying Guide
						a Order Returns
						a Affilate Program
					li.footer-list__item
						h4 Your account
						a Shipping & returns
						a Secure shopping
						a Award winning
						a Ethical trading
					li.footer-list__item
						h4 Lookbook
						a Getting Started
						a FAQs
						a Buying Guide
						a Order Returns
						a Affilate Program
					li.footer-list__item
						h4 Contact Details
						p <span>Telephone:</span> 0123-456-789
						p <span>Email:</span> free@psdfreebles.com
						address <span>Head office:</span> 245 Yellow House Main Street, London 456789
						
				
				
					
					
						
				